@model Lessplastic.Models.ViewModels.Educations.DetailsEducationViewModel

@{
    ViewData["Title"] = "Детайли";
}
<h3 class="text-center text-black">@Model.Title</h3>
<text class="text-center">@Model.Content</text>
<br />
<img src=@Model.ImageUrl width="600" height="300" />
<br />
<text class="text-center">@Model.AdditionalContent</text>
<br />
@if (Model.AdditionalContentImage != null)
{
    <img src=@Model.AdditionalContentImage width="600" height="300" />
}
<br />
<hr class="hr-2 bg-dark" />
<div class="row">
    @if (User.IsInRole("Admin"))
    {
        <div class="mx-auto">
            <a asp-area="Admin" asp-controller="Educations" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-color text-color">Промени</a>
        </div>
        <div class="mx-auto">
            <a asp-area="Admin" asp-controller="Educations" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-color text-color">Изтрии</a>
        </div>
    }
    <div class="mx-auto">
        <a asp-controller="Educations" asp-action="All" class="btn btn-color text-color">Назад</a>
    </div>
</div>
<br />
<br />