@model Lessplastic.Models.ViewModels.Educations.DetailsEducationViewModel

@{
    ViewData["Title"] = "Детайли";
}
<h1 class="text-center text-black mt-2">@Model.Title</h1>
<div class="row col-md-12">
    <h5 class="text-center col-md-6">Създадена: @Model.CreatedOn.ToShortDateString()</h5>
    <h5 class="text-center col-md-6">Прегледи: @Model.Views</h5>
</div>
<br />
<div class="container d-flex justify-content-aroud">
    <text>@Model.Content</text>
</div>
<div class="text-center mt-3 mb-3">
    <img src=@Model.ImageUrl class="responsive" />
</div>
<div class="container d-flex justify-content-aroud">
    <text>@Model.AdditionalContent</text>
</div>
@if (Model.AdditionalContentImage != null)
{
    <div class="text-center mt-3">
        <img src=@Model.AdditionalContentImage class="responsive" />
    </div>
}
<hr class="hr-2 bg-dark" />
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="fb-comments" data-href="https://localhost:44351/Articles/Details/@Model.Id" data-width="100%" data-numposts="5"></div>
    </div>
</div>
<div class="row">
    @if (User.IsInRole("Admin"))
    {
        <div class="mx-auto">
            <a asp-area="Admin" asp-controller="Educations" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-color text-color">Промени</a>
        </div>
        <div class="mx-auto">
            <a asp-area="Admin" asp-controller="Educations" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-color text-color">Изтрии</a>
        </div>
    }
    <div class="mx-auto">
        <button onclick="goBack()" class="btn btn-color text-color">Назад</button>
    </div>
</div>
<br />