@model Lessplastic.Models.ViewModels.Articles.DetailsArticleViewModel

@{
    ViewData["Title"] = "Details";
}
<p class="text-center">@Model.Title</p>
<img src=@Model.ArticleImage width="600" height="300" />
<br />
<text class="text-center">@Model.Content</text>
<br />
<img src=@Model.ContentImage width="600" height="300" />
<br />
<text class="text-center">@Model.AdditionalContent</text>
<br />
@if (Model.AdditionalContentImage != null)
{
    <img src=@Model?.AdditionalContentImage width="600" height="300" />
}
<br />
<h3 class="text-center">@Model.CreatedOn.ToShortDateString()</h3>
<h3 class="text-center">@Model.Views</h3>
@foreach (var comment in Model.Comments)
{
    <div>
        <p>Потребител: @comment.LessplasticUser.UserName</p>
        <p>Коментар: @comment.Content</p>
        <p>Дата: @comment.CreatedOn</p>
    </div>
}
<hr class="hr-2 bg-dark" />
<div class="row">
    @if (User.IsInRole("Admin"))
    {
        <div class="mx-auto">
            <a asp-area="Admin" asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-color text-color">Промени</a>
        </div>
        <div class="mx-auto">
            <a asp-area="Admin" asp-controller="Articles" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-color text-color">Изтрии</a>
        </div>
    }
    <div class="mx-auto">
        <a asp-controller="Articles" asp-action="All" class="btn btn-color text-color">Назад</a>
    </div>
</div>
<br />
<br />
<br />
<br />
