@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}
<br />
<h2 class="text-center">@ViewData["Title"]</h2>
<hr class="bg-secondary half-width" />
<section>
    <form method="post" class="mx-auto half-width">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.UserName">Потребителско име</label>
            <input asp-for="Input.UserName" class="form-control" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password">Парола</label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    Запомни ме?
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Вход</button>
            @{
                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        </div>
        <div class="form-group mx-auto half-width">
            <p>
                <a asp-page="./ForgotPassword" class="text-black">Забравена парола?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-black">Регистрирай се тук</a>
            </p>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
