@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}
<br />
<h2 class="text-center">@ViewData["Title"]</h2>
<hr class="bg-secondary half-width" />
<section>
    <form method="post" class="mx-auto half-width">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.UserName">Потребителско име</label>
            <input asp-for="Input.UserName" class="form-control" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password">Парола</label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    Запомни ме?
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-color text-color">Вход</button>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-color text-color">Регистрирай се тук!</a>
        </div>
    </form>
    @{
        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal mx-auto half-width">
            <div class="form-group">
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-color text-color" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook-square"></i> @provider.DisplayName</button>
                    }
                </p>
            </div>
        </form>
    }
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
