
@{
    ViewData["Title"] = "_RadioButtonArticlePartial";
}

<h4 class="text-center">Вид на статията</h4>
<hr class="bg-secondary w-50" />
<div class="row col-md-12">
    <div class="row col-md-12">
        @{
            var types = new[] { "Regular", "Science", "Kids" };
        }
        @foreach (var type in types)
        {
            var bgText = string.Empty;
            if (type == "Regular")
            {
                bgText = "Нормална";
            }
            if (type == "Science")
            {
                bgText = "Научна";
            }
            if (type == "Kids")
            {
                bgText = "За Деца";
            }
            <div class="col-md-3 ml-auto">
                <input id="@type" type="radio" disabled="@Model?.DisabledValue" name="type" value="@type" checked="@(Model?.Type.ToString() == type ? "checked" : null)" />
                <label for="@type">@bgText</label>
            </div>
        }
    </div>
</div>
<hr class="bg-dark"/>