@model Lessplastic.Models.ViewModels.Events.DetailsEventViewModel

@{
    ViewData["Title"] = "Детайли на събитието";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr class="bg-dark" />

<p>@Model.Name</p>
<p>@Model.Description</p>
<p>@Model.Participants.Count</p>
<p>@Model.EventDate</p>
@foreach (var town in Model.Towns)
{
    <p>@town.Town.TownName</p>
}

@if (User.Identity.IsAuthenticated)
{
    <div class="row col-md-6">
        <div class="col-md-4">
            <p>Участници: @Model.Participants.Count</p>
        </div>
        @if (Model.Participants.Any(x => x.LessplasticUser.UserName == this.User.Identity.Name))
        {
            <p>Вече сте записан за събитието!</p>
        }
        else
        {
            <div class="col-md-2">
                <a asp-area="Admin" asp-controller="Events" asp-action="AddParticipant" asp-route-id="@Model.Id" class="btn btn-color text-color">Присъедини се!</a>
            </div>
        }
    </div>
}
<hr class="hr-2 bg-dark" />
<div class="row">
    @if (User.IsInRole("Admin"))
    {
        <div class="mx-auto">
            <a asp-area="Admin" asp-controller="Events" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-color text-color">Промени</a>
        </div>
        <div class="mx-auto">
            <a asp-area="Admin" asp-controller="Events" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-color text-color">Изтрии</a>
        </div>
    }
    <div class="mx-auto">
        <a asp-controller="Events" asp-action="All" class="btn btn-color text-color">Назад</a>
    </div>
</div>