@model Lessplastic.Models.ViewModels.Events.DetailsEventViewModel

@{
    ViewData["Title"] = "Детайли на събитието";
}

<h2 class="text-center">@Model.Name</h2>
<div class="row col-md-12 text-center">
    <p class="col-md-6">Дата: @Model.EventDate</p>
    <div class="row col-md-6 mt-2">
        <div class="col-md-4">
            <p>Участници: @Model.Participants.Count</p>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            @if (Model.Participants.Any(x => x.LessplasticUser.UserName == this.User.Identity.Name))
            {
                <p>Вече сте записан за събитието!</p>
            }
            else
            {
                <div class="col-md-2">
                    <a asp-area="Admin" asp-controller="Events" asp-action="AddParticipant" asp-route-id="@Model.Id" class="btn btn-color text-color">Присъедини се!</a>
                </div>
            }
        }
    </div>
</div>
<div class="row col-md-12">
    <div class="col-md-6">
        <div class="mt-4">
            <div class="border border-dark rounded shadow p-2 mb-2 bg-white scroling responsive">@Model.Description</div>
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <div class="col-xs-2">
            <p>Градове:</p>
            @foreach (var town in Model.Towns)
            {
                <button type="button" class="btn btn-outline-primary text-color" disabled>@town.Town.TownName</button>
            }
        </div>
    </div>
</div>
<hr class="hr-2 bg-dark" />
<div class="row">
    @if (User.IsInRole("Admin"))
    {
        <div class="mx-auto">
            <a asp-area="Admin" asp-controller="Events" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-color text-color">Промени</a>
        </div>
        <div class="mx-auto">
            <a asp-area="Admin" asp-controller="Events" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-color text-color">Изтрии</a>
        </div>
    }
    <div class="mx-auto">
        <button onclick="goBack()" class="btn btn-color text-color">Назад</button>
    </div>
</div>
<br />