@model IEnumerable<Lessplastic.Models.ViewModels.Videos.AllVideosViewModel>

@{
    ViewData["Title"] = "Видеа";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="container">
    <div class="row col-xs-12">
        @foreach (var video in Model)
        {
            <div class="col-xs-4 mr-3 ml-4">
                <div>
                    <a asp-controller="Videos" asp-action="Details" asp-route-id="@video.Id">
                        <img src="https://img.youtube.com/vi/@video.YoutubeLink/mqdefault.jpg" alt="tube img" />
                    </a>
                </div>
                <div>
                    <a asp-controller="Videos" asp-action="Details" asp-route-id="@video.Id">
                        <h5 class="text-black">@video.Title</h5>
                        <h5 class="text-black">@video.ShortDescription</h5>
                    </a>
                </div>
            </div>
        }
    </div>
</div>