@model Lessplastic.Models.ViewModels.Videos.AllVideosViewModel[]

@{
    ViewData["Title"] = "Видеа";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="container">
    <div class="row col-xs-12">
        @for (int i = 0; i < Model.Length; i++)
        {
            <div class="col-xs-4 mr-3 ml-4">
                <div>
                    <a asp-controller="Videos" asp-action="Details" asp-route-id="@Model[i].Id">
                        <img src="https://img.youtube.com/vi/@Model[i].YoutubeLink/mqdefault.jpg" alt="tube img" />
                    </a>
                </div>
                <div>
                    <a asp-controller="Videos" asp-action="Details" asp-route-id="@Model[i].Id">
                        <h5 class="text-black">@Model[i].Title</h5>
                        <h5 class="text-black">@Model[i].ShortDescription</h5>
                    </a>
                </div>
            </div>
        }
    </div>
</div>