@model Lessplastic.Models.ViewModels.Events.DetailsEventViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Детайли на събитието</h2>

<form class="mx-auto half-width" asp-area="Admin" asp-controller="Events" asp-action="Details" asp-route-id="@Model.Id" method="post">
    <p>@Model.Name</p>
    <p>@Model.Description</p>
    <p>@Model.Participants.Count</p>
    <p>@Model.EventDate</p>
    @foreach (var town in Model.Towns)
    {
        <p>@town.Town.TownName</p>
    }
</form>