@model IEnumerable<Lessplastic.Models.ViewModels.Pools.AllPoolViewModel>

@{
    ViewData["Title"] = "Details";
}

<script>
    var i = 0;
    var attempts = 1;
    function buttonClick() {
        if (attempts > 0) {
            document.getElementById('inc').value = ++i;
            attempts--;
        } else {
            document.getElementById("result").innerHTML = "Вече гласувахте!";
        }
    }
</script>
<div class="row col-md-12 mt-3">
    @foreach (var pool in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-text container justify-content-around">@pool.Title</h5>
                    @if (pool.Users.Any(x => x.LessplasticUser.UserName == this.User.Identity.Name))
                    {
                        <p class="text-center">
                            Гласували: @pool.Users.Count
                        </p>
                    }
                    else
                    {
                        @foreach (var answer in pool.Answers)
                        {
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a asp-area="" asp-controller="Pools" asp-action="AddParticipant" asp-route-id="@pool.Id" onclick="buttonClick()" class="btn btn-color text-color" id="inc" value="0">@answer.Answer.Name</a>
                                </div>
                            }
                        }
                    }

                </div>
            </div>
            <div class="row mt-1">
                @if (User.IsInRole("Admin"))
                {
                    <div class="mx-auto">
                        <a asp-area="Admin" asp-controller="Pools" asp-action="Edit" asp-route-id="@pool.Id" class="btn btn-color text-color">Промени</a>
                    </div>
                    <div class="mx-auto">
                        <a asp-area="Admin" asp-controller="Pools" asp-action="Delete" asp-route-id="@pool.Id" class="btn btn-color text-color">Изтрии</a>
                    </div>
                }
            </div>
            <br />
        </div>
    }
</div>
<div class="text-center mb-2">
    <button onclick="goBack()" class="btn btn-color text-color">Назад</button>
</div>